<% unless logged_in? %>
  <% content_for :navigation do %>
  Want to save your reminders? <%= link_to 'Sign up today!', new_user_path %>
  <% end %>
<% end %>

<div id="reminders">
  <% @reminders.each do |day, reminders| %>
  <span class="day"><b><%=h day %></b></span>
  <ul>
    <% reminders.each do |reminder| %>
    <li><span style="font-size:120%;">"<%=h reminder.message %>"</span> 
    <br />
    <em style="color: #777;"><%= format_delivery reminder.email %> at <%=h reminder.send_at_time_display %></em> <%= link_to 'Remove', reminder_path(reminder), :class => 'remove', :method => :delete, :style => 'color: red;' %></li>
    <% end %>
  </ul>
  <% end %>
  <%= button_to 'Schedule Another Reminder', new_reminder_path %>
</div>
