<div class="yui-g">
  <div class="yui-u first">
    <div class="border" id="sms-form">
      <% form_for(@reminder) do |f| %>
        <fieldset>
        <%= f.error_messages :header_message => '',  :message => 'Please fix the following problems' %>
        <p>
        <%= f.label :phone_number, "Cell Number or Email" %>
        <%= f.text_field :phone_number %>
        <br />
        <em>555-555-555 or alex@test.com</em>
        </p>
        <p>
        <%= f.label :message, "Your Reminder" %>
        <%= f.text_field :message, :style => 'width:300px;' %>
        <br />
        <em>Go to lunch meeting or pick up a bottle of wine</em>
        </p>
        <%= f.label :send_at_date, "When?" %>
        <%= f.text_field :send_at_date, :style => 'width: 85px;' %>
        <%= f.text_field :send_at_time, :style => 'width: 75px;' %> 
        <%= f.text_field :time_zone, :style => 'display:none' %> 
        <%= f.submit "Schedule Reminder" %>
        <div id="cal1Container"></div>
        <div id="timeDiv">
          <table>
            <tr>
              <th class="am">am</th>
              <th>pm</th>
            </tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('12:00am')">12:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('12:00pm')">12:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('1:00am')">1:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('1:00pm')">1:00pm</a></td></tr>

            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('2:00am')">2:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('2:00pm')">2:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('3:00am')">3:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('3:00pm')">3:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('4:00am')">4:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('4:00pm')">4:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('5:00am')">5:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('5:00pm')">5:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('6:00am')">6:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('6:00pm')">6:00pm</a></td></tr>

            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('7:00am')">7:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('7:00pm')">7:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('8:00am')">8:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('8:00pm')">8:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('9:00am')">9:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('9:00pm')">9:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('10:00am')">10:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('10:00pm')">10:00pm</a></td></tr>
            <tr><td class="am"><a href="javascript:void(0);" onclick="setTime('11:00am')">11:00am</a></td><td><a href="javascript:void(0);" onclick="setTime('11:00pm')">11:00pm</a></td></tr>
          </table> 
        </div>
        <div style="clear:both"></div>
      </fieldset>
      <% end %>
    </div>
  </div>
  <div id="reminders" class="yui-u">
    <div id="reminder-count">You have <b><%= @all_reminders.size %></b> reminder<% unless @all_reminders.size == 1 %>s<% end %> waiting to go out.</div>
    <br />
    <% @reminders.each do |email, days| %>
      <div id="reminder-to"><b><%=h format_delivery(email) %></b></div>
      <br />
      <% days.each do |day, reminders| %>
        <span class="day"><%=h day %></span>
        <ul>
          <% reminders.each do |reminder| %>
          <li><span style="font-size:120%;">"<%=h reminder.message %>"</span> <em>at <%=h reminder.send_at_time_display %></em> <%= link_to 'Remove', reminder_path(reminder), :class => 'remove', :method => :delete, :style => 'color: red;' %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <% unless logged_in? %>
    <div id="signup-box"><%= link_to '<b>Sign up</b>', signup_path %> and access these reminders from any computer</div>
    <% end %>
  </div>
</div>
