<% unless @reminders.empty? %>
<div id="reminders" style="padding:15px;">
  <% @reminders.each do |day, reminders| %>
  <span class="day"><b><%=h day %></b></span>
      <table id="reminders">
    <% reminders.each do |reminder| %>
        <tr>
          <td><%= link_to image_tag('cancel.png'), reminder_path(reminder), :class => 'remove', :method => :delete, :style => 'color: red;' %></td>
          <td>
            <span style="font-size:120%;">"<%=h reminder.message %>"</span> 
              <div class="delivery-date">
                <em style="color: #777;"><%= format_delivery reminder.email %> 
                  <% if reminder.sent? %>
                    <%= "sent #{time_ago_in_words reminder.send_at} ago" %>
                  <% else %>
                    at <%=h reminder.send_at_time_display %></em> 
                <% end %>
              </div>
          </td>
        </tr>
    <% end %>
      </table>
  <% end %>
</div>
<% end %>
<div id="divider"></div>
<div id="sms-form">
  <% form_for(@reminder) do |f| %>
  <fieldset>
    <%= f.error_messages :header_message => '',  :message => 'We had problems creating your reminder' %>
    <p>
      <%= f.label :phone_number, "Cell Number or Email" %>
      <%= f.text_field :phone_number, :autocomplete => 'off' %>
      <span id="addressBook">
        <% if @emails.size > 1 %>
        <select multiple size="5" style="width: 160px;">
          <% @emails.each do |number| %>
          <option onclick="setPhoneNumber('<%=h format_delivery(number.email) %>')"><%=h format_delivery(number.email) %></option>
          <% end %>
        </select>
        <% end %>
      </span>
      <br />
      <em>555-555-555 or alex@test.com</em>
    </p>
    <p>
      <%= f.label :message, "Your Reminder" %>
      <%= f.text_field :message, :style => 'width:300px;' %>
      <br />
      <em>Go to lunch meeting or pick up a bottle of wine</em>
    </p>
    <%= f.label :send_at_date, "When?" %>
    <%= f.text_field :send_at_date, :style => 'width: 85px;' %>
    <%= f.text_field :send_at_time, :style => 'width: 75px;' %> 
    <%= f.text_field :time_zone, :style => 'display:none' %> 
    <%= f.submit "Schedule Reminder" %>
    <div id="cal1Container"></div>
    <div id="timeDiv">
      <select multiple size="8" style="width: 100px;">
        <% ((Time.now - Time.now.min.minutes)..(Time.now - Time.now.min.minutes)+ 23.hours).step(30.minutes) do |time| %>
        <option onclick="setTime('<%=h time.strftime('%I:%M%p') %>')"><%=h time.strftime('%I:%M%p') %></option>
        <% end %>
      </select>
    </div>
    <div style="clear:both"></div>
  </fieldset>
  <% end %>
</div>
