<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Schedule free SMS text message reminders for any phone or email">
    <meta name="keywords" content="text reminders, text message reminders, free sms, free reminders, sms reminders, free sms, text reminder, sms reminder, free text messages, text messaging, free texting" />
    <title>reminderthing - free text message and sms messages</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/grids/grids.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/base/base.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/calendar/assets/skins/sam/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/calendar/calendar-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js"></script> 
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body id="custom-doc" class="yui-skin-sam">
    <div class="hd">
      <a href="/"><span class="title">reminderthing</span></a>
        <br />
        simple reminders for phone or email
        <br />
        <% unless logged_in? %>
        <%= link_to_unless_current 'Sign in', login_path %> &middot; <%= link_to_unless_current 'Sign up', signup_path %>
        <% else %>
        <%= link_to_unless_current 'Sign out', logout_path  %>
        <% end %>
    </div>
    <div class="messages">
      <%= (navigation = yield :navigation) ? navigation : render(:partial => 'shared/navigation') %>
    </div>
    <div class="bd border">
      <%= yield %>
    </div>
    <div class="fd">
      Follow us on <a href="#">Twitter</a>.  Send Suggestions to <a href="#">reminderthing@gmail.com</a>
    </div>
  </body>
</html>
