<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Schedule free SMS text message reminders for any phone or email" />
    <meta name="keywords" content="text reminders, text message reminders, free sms, free reminders, sms reminders, free sms, text reminder, sms reminder, free text messages, text messaging, free texting" />
    <title>reminderthing - simple reminders for phone or email</title>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/reset/reset.css" %>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/fonts/fonts.css" %>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/grids/grids.css" %>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/base/base.css" %>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/calendar/assets/skins/sam/calendar.css" %>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body id="custom-doc" class="yui-skin-sam">

    <div class="roundedcornr_box_700903">
      <div class="roundedcornr_top_700903"><div></div></div>
      <div class="hd">
        <a href="/"><img src="/images/logo.gif" alt="reminderthing" /></a>
      </div>
      <div class="bd border">
        <%= yield %>
      </div>
      <div class="roundedcornr_bottom_700903"><div></div></div>
    </div>
    <div class="fd">
      &copy;2009 &middot; <%= mail_to 'reminderthing@gmail.com', 'reminderthing@gmail.com' %>
      <% if logged_in? %>
        &middot; <%= link_to 'logout', logout_path %>
      <% end %>
    </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-173596-8");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
  <%= javascript_include_tag "http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js" %>
  <%= javascript_include_tag "http://yui.yahooapis.com/2.6.0/build/calendar/calendar-min.js" %>
  <%= javascript_include_tag "http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js" %>
  <%= javascript_include_tag 'application' %>
</html>
